<div class="col-4 beer-layout">
  <div class="col"><img class="mx-auto d-block beer" src="{{this.image_url}}"></div>
  <div class="col text-color text-layout">
    <h3><strong>{{this.name}}</strong></h3>
    <span class="text-color-2">{{this.tagline}}</span>
    <p>{{this.description}}</p>
  </div>
</div>